
<section class="about_me clearfix">
  <h4> Logged in as: <a class="user-page" href="/users/<%=@user.username%>"><%=@user.username%></a></h4>
 <form action='/doge' method='POST'>
   <input type="text" name="content" placeholder="Much doge!"><br>
   <input type="submit" value="So wow">
 </form><br>
</section>

<section class="feed clearfix">
  <h4>Doges</h4>
  <% @user.feed.each do |doge| %>
  <ul>
   <a  href="/users/<%=@user.username%>/status/<%=doge.id%>"> <li class="home-doges"><%= doge.content %> <br><hr><%= doge.created_at %></li></a>
 </ul>
 <% end %>
</section>

<section class="nav clearfix">
  <div class="div-logout">
    <form action='/logout' method='POST'>
      <input class="logout" type="submit" value="Log out">
    </form><br>
  </div>
</section>

