
<section class="about_me clearfix">
  <h4> Logged in as: <a class="user-page" href="/users/<%=@user.username%>"><%=@user.username%></a></h4>

  <%= erb :_submit_wow %>
</section>

<section class="feed clearfix">
  <h4>Wows</h4>
  <% @user.feed.each do |doge| %>
  <ul>
    <% creator = User.find(doge.user_id).username%>
   <a href="/users/<%= creator %>/status/<%=doge.id%>"> <li class="home-doges"><span class="black bigger"><b><%=creator %></b></span> <br><%= doge.content %> <br><span class="opaque"><hr class="opaque"><span class="black center"><%= doge.created_at %> </span>
    <form class="right" action="/very_wow" method="post">
    <input type="hidden" name="doge" value="<%= doge.id  %>">
    <button class="btn-very_wow" type="submit"><i class="fa fa-retweet bigger"></button></i>
    </form>
    </span></li></a>
 </ul>
 <% end %>
</section>

<section class="nav clearfix">
  <div class="div-logout">
    <form action='/logout' method='POST'>
      <input class="button" type="submit" value="Log out">
    </form><br>
  </div>
</section>

