<section class="about_me clearfix">
 Logged in as: <a class="user-page" href="/users/<%=@user.username%>"><%=@user.username%>
  <%= erb :_submit_wow %>

</section>

<section class="feed clearfix">
  <h4><%=@user.username %>'s Wows</h4>
  <% (@user.doges + @user.very_wows).each do |doge| %>
  <ul>
   <a href="/users/<%= @user.username %>/status/<%=doge.id%>"><li class="home-doges"><span class="black bigger"><%= @user.username %></span> <br><%= doge.content %> <br><span class="opaque"><hr class="opaque"><span class="black center"><%= doge.created_at %> </span>
        <form class="right" action="/very_wow" method="post">
          <input type="hidden" name="doge" value="<%= doge.id  %>">
          <button class="btn-very_wow" type="submit"><i class="fa fa-retweet bigger"></button></i>
        </form>
      </span></li>
    </a>
    </ul>
    <% end %>
  </section>

<section class="nav clearfix">
  <div class="div-logout">
    <form action='/logout' method='POST'>
      <input class="button" type="submit" value="Log out">
    </form><br>
  </div>
  <div class="home-button">
    <form action='/' method='Get'>
      <button class="btn-very_wow" type="submit" value="Doge House" type="hidden"><i class="fa fa-home" style="color: gold; font-size: 3em"></i></button>
    </form><br>
  </div>
</section>

